body {
  text-align: center;
  background-color: #011F3F;
}

.menu-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

p {
  font-family: 'Press Start 2P', cursive;
  text-align: left;
  overflow: hidden;
  line-height: 1.5rem;
}

ol {
  font-family: 'Press Start 2P', cursive;
}

/* Main menu buttons */

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 400px;
  border: 10px solid black;
  border-radius: 10%;
  background-color: aliceblue;
  margin: 20px;
}

.main-button-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  20px;
  color: black;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 400px;
  padding: 20px;
  border: 10px solid black;
  border-radius: 10%;
  background-color: #FEF2BF;
}

.row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.option-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-wrap: break-word;
}

.option-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  border: 5px solid black;
  border-radius: 20%;
}

.hide-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 20px;
  border: 10px solid black;
  border-radius: 10%;
  background-color: white;
}

.easy {
  background-color: greenyellow;
}

.medium {
  background-color: orange;
}

.hard {
  background-color: red;
}

.option-title {
  font-size: 1.2rem;
}

.hide {
  display: none;
}